.order{
    margin-bottom: 20px;
    width: 100%;
    font-size: 12px;
    color: #555;
}

.order .content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order .card {
    flex-grow: 1;
}

.order .content .menu{
    position: relative;
}

.order .content .menu button {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border: none;
}

.order .content .menu span {
    display: block;
    width: 4px;
    height: 4px;
    margin: 2px;
    border-radius: 50%;
    background-color: #aaa;
}

.order .content .menu .dropdown {
    position: absolute;
    right: 0;
    background-color: #efefef;
    text-align: center;
    transition: .4s linear;
    overflow-y: hidden;
    max-height: 0px;
}

.order .content .menu .dropdown button{
    display: block;
    width: 80px;
    padding: 5px;
}

.order .content .menu .dropdown.show {
    max-height: 100px;
}

.order .content .type-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.order .content .type-price .buy{
    color: green;
}

.order .content .type-price .sell{
    color: red;
}

.order .content .type-price span {
    color: black;
}

.order .content .type-price .type{
    display: flex;
    align-items: center;
}
.order .content .type-price img {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-right: 5px;
}

.order .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

.order .price span {
    font-size: 8px;
    margin-right: 3px;
}

.order .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order .location {
    margin-bottom: 5px;
}

.order .contact {
    font-size: 14px;
}

.order hr {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
}