.orders {
    padding: 0px 30px;
    height: 100%;   
}

.orders .add{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;

}

.orders .add #background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    top:0;
    left: 0;
}

.orders .add form {
    display: flex;
    flex-direction: column;
    z-index: 250;
    text-align: center;
}

.orders .add form #error {
    font-size: 12px;
    width: 100%;
    word-wrap: break-word;
    text-transform: none;
    color: #721c24;
    background-color: #f8d7da;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
}

.orders .add form h1 {
    margin-bottom: 50px;
}

.orders .add form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orders .add form div select{
    width: 47%;
}
.orders .add form select{
    margin-bottom: 15px;
    background-color: white;
    outline: none;
    padding: 10px 0px;
    border-radius: 20px;
    text-align: center;
    border: none;
    
}

.orders .add form input{
    margin-bottom: 15px;
    background-color: white;
    outline: none;
    padding: 10px 0px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.orders .add form button {
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s linear;
}

.orders .add form button:hover{
    filter: brightness(60%);
}

.orders .all{
    height:100%;
    display: flex;
    flex-direction: column;
}

.orders .tabs{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:30px;
    align-items: center;
}

.orders .tabs button:active,
.orders .tabs button:hover, 
.orders .tabs .active{
    color: var(--active);
    transform: scale(1.2);
    font-weight: 500;
}

.orders .tabs button {
    background-color: transparent;
    color: #777;
    border:none;
    font-size:12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .1s linear;
}

.orders .all .list{
    overflow: scroll;
    scrollbar-width: none;
    padding-bottom: 40px;
}


.orders .all #post {
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s linear;
}

.orders .all #post:hover{
    filter: brightness(125%);
}

.orders .all .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.orders .all select {
    background-color: transparent;
    border: none;
    color: var(--font-color);
    margin-bottom: 8px;
    text-align: center;
    max-width:30%;
}

.orders .all input  {
    border: none;
    margin-bottom: 8px;
    text-align: center;
    width: 40%;
    padding: 2px;
    color: var(--font-color);
    background-color: transparent;
}

.orders .all input:focus{
    outline:none;
    border-bottom: 1px solid #ddd;
}

.orders .myorders {
    height:100%;
}

.orders .myorders .list{
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    padding-bottom: 40px;
}

@media screen and (max-width:900px) {
    .orders {
        padding: 0px 40px;
    }

}